<html>
  <head>
    <title> Simple Calculator </title>


  </head>
  <body>
    <h1 style = "color: red;"> Simple Calculator </h1>
    <form>
        <input type = "number" name = "num1" [(ngModel)] = "num1" placeholder = "Enter number" /> <br><br>
        <input type = "number" name = "num2" [(ngModel)] = "num2" placeholder = "Enter number" /> <br><br>
        <input type = "radio" name = "add" (click) = "add()" /> <label> Add </label>
        <input type = "radio"  name = "subtract" (click) = "sub()" /> <label> Subtract </label>
        <input type = "radio" name = "multiply" (click) = "prod()" /> <label> Product </label>
        <input type = "radio" name = "divide" (click) = "quo()" /> <label> Quotient </label> <br><br>
        <p> {{num1}} {{optr}} {{num2}} = {{val}} </p>
      </form>
      <app-first></app-first>
  </body>
</html>